/*
Vars
 */
$black: #010000;
$white: #ffffff;
$lightGrey: #e6e6e6;
$darkGrey: #333;
$red: #ff1755;
$light: #010000, 0;

/*
Mixins
 */
@mixin  translateY($e) {
  -webkit-transform: translateY($e);
  -moz-transform: translateY($e);
  transform: translateY($e);
}

@mixin transition($e) {
  -webkit-transition: $e;
  -moz-transition: $e;
  transition: $e;
}

@mixin center($width: null, $height: null) {
  position: absolute;
  top: 50%;
  left: 50%;

  @if not $width and not $height {
    transform: translate(-50%, -50%);
  } @else if $width and $height {
    width: $width;
    height: $height;
    margin: -($width / 2) #{0 0} -($height / 2);
  } @else if not $height {
    width: $width;
    margin-left: -($width / 2);
    transform: translateY(-50%);
  } @else {
    height: $height;
    margin-top: -($height / 2);
    transform: translateX(-50%);
  }
}

/* Fonts-

  regular 400
  regular 400 Italic
  bold 700
  bold 700 Italic

 */

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  color: $black;
  font-weight: 400;
  font-style: normal;
}

a {
  text-decoration: none;
  @include transition(.4s ease-in-out);
  cursor: pointer;

  &:hover {
    color: $red;
    @include transition(.4s ease-in-out);
    text-decoration: none;
  }
}

.container-fluid {
  line-height: 24px;
}

