@import "_config.scss";


header {
  position: relative;
  display: block;
  width: 100%;
  background: $black;
  color: $white;
  height: 30%;

  .logo {
    position: relative;
    margin-left: 1%;
    top: 3%;
    width: 5%;
  }

  nav,
  nav ul,
  nav ul li {
    margin: 0;
    padding: 0;
  }

  nav {
    position: absolute;
    top: 50%; right: 15px;
    @include translateY(-50%);

    ul li {
      list-style-type: none;
      display: inline-block;
      margin-right: 25px;

      &.last {
        margin: 0;
      }

      a{
        font-size: 100%;
        line-height: normal;
        color: ivory;
        //color: $white;
      }

    }
  }


}